docker.enabled = true
docker.runOptions = '--user root'
process {
    withName:run_fastqc {
        container = 'biocontainers/fastqc:v0.11.9_cv8'
    }

    withName:index_genome_samtools {
        container = 'quay.io/biocontainers/samtools:1.3.1--h0cf4675_11'
    }

    withName:create_sequence_dict {
        container = 'quay.io/biocontainers/picard:1.141--hdfd78af_6'
    }

    withName:index_genome_star {
        container = 'quay.io/biocontainers/star:2.7.10b--h6b7c446_1'
    }

    withName:align_reads_star {
        container = 'quay.io/biocontainers/mulled-v2-52f8f283e3c401243cee4ee45f80122fbf6df3bb:e3bc54570927dc255f0e580cba1789b64690d611-0'
    }

    withName:split_reads_gatk {
        container = 'quay.io/broadinstitute/gotc-prod-gatk:1.0.0-4.1.8.0-1626439571'
    }

    withName:call_variants_gatk {
        container = 'quay.io/broadinstitute/gotc-prod-gatk:1.0.0-4.1.8.0-1626439571'
    }

    withName:coverage_analysis {
        container = 'quay.io/biocontainers/samtools:1.3.1--h0cf4675_11'
    }
}
